<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/style.css">
    <title>AxotApp |</title>
</head>
<body>
    @if(IsSectionDefined("MessageBox")){
        <div class="alert alert-success text-center">@RenderSection("MessageBox")</div>
        
    }else{
        <div class="alert alert-success text-center">Welcome</div>
    }
    @await Html.PartialAsync("_navbar")
    @RenderSection("Header",false)
    <main class="my-3">
        <div class="container">
            <div class="row">
                @if(IsSectionDefined("Categories"))
                {
                    <div class="col-md-3">
                        @RenderSection("Categories",false)
                    </div>
                    <div class="col-md-9">
                        @RenderBody()
                    </div>
                }else{
                <div class="col-md-12">
                    @RenderBody()
                </div> 
                }
            </div>
        </div>
    </main>
    @await Html.PartialAsync("_footer")
    
</body>
</html>