@model Product

<form method="POST">
    <div class="text-danger" asp-validation-summary="All"></div>
    <div class="form-group">
        <label for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" value="@Model.Name">
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label for="Price" class="form-label">Price</label>
        <input asp-for="Price" class="form-control" value="@Model.Price">
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>
    <div class="form-group">
        <label for="Description" class="form-label">Description</label>
        <textarea asp-for="Description" class="form-control" value="@Model.Description"></textarea>
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>
    <div class="form-group">
        <label for="ImageUrl" class="form-label">ImageUrl</label>
        <input asp-for="ImageUrl" class="form-control" value="@Model.ImageUrl">
        <span class="text-danger" asp-validation-for="ImageUrl"></span>
    </div>
    <div class="form-group">
        <label for="CategoryId" class="form-label">Category</label>
        <select asp-for="CategoryId" asp-items="@ViewBag.Categories" class="form-select">
            <option selected disabled>Seçin</option>
        </select>
        <span class="text-danger" asp-validation-for="CategoryId"></span>
    </div>
    <button type="submit" class="btn btn-primary" style="margin-top:10px ;">submit</button>
</form>