@model ProductViewModel
@{
    var products = @Model.Products;
    var category = @Model.Category;
    var popularClass = products.Count>2 ?"popular":"";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>

    <style>
        .popular{
            color: green;
            font-weight: 700;
        }
        .sos{
            background-color: red;
            color: white;

            padding: 5px;
        }
    </style>
</head>
<body>
    <h1 class="@popularClass">@category.Name</h1>
    @if (products.Count == 0)
    {
        <p class="sos">Mehsul yoxdur</p>
    }
    else{
        <ul>
            @foreach (var product in products)
            {
                <li>
                    @if (product.IsApproved == true)
                    {
                        <div>
                            <p><span style="font-weight: 700;">Name</span>  : @product.Name</p>
                            <p><span style="font-weight: 700;">Price</span> : @product.Price</p>
                            <p><span style="font-weight: 700;">Description</span> : @product.Description</p>
                        </div>
                    }else{
                        <div class="sos">Mehsul satisda deyil</div>
                    }
                
                    
                </li>
            }
        </ul>
    }
    
</body>
</html>