@model ProductListViewModel
@{
    var products = @Model.Products;
}

<h1>Admin Products</h1>
<hr>
<a href="/admin/products/create" class="btn btn-primary">Create Product</a>

<table class="table table-bordered" style="margin-top: 16px;">
    <thead>
        <tr>
            <th style="width: 40px;">Id</th>
            <th style="width: 100px;">Image</th>
            <th>Name</th>
            
            <th style="width: 100px;" class="text-center">Price</th>
            <th style="width: 100px;">Home</th>
            <th style="width: 100px;">Approved</th>
            <th style="width: 150px;"></th>
        </tr>
    </thead>
    <tbody>
        @if (products.Count>0)
        {
            @foreach (var product in products)
            {
                <tr>
                    <td>@product.ProductId</td>
                    <td><img src="~/images/@product.ImageUrl" alt="" width="80"></td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>
                        @if (product.IsHome)
                        {
                            <i style="color: #00cc44;" class="fa-solid fa-circle-check fa-lg"></i>
                        }else{
                            <i style="color: #ff0000;" class="fa-solid fa-circle-xmark fa-lg"></i>
                        }
                    </td>
                    <td>
                        @if (product.IsApproved)
                        {
                            <i style="color: #00cc44;" class="fa-solid fa-circle-check fa-lg"></i>
                        }else{
                            <i style="color: #ff0000;" class="fa-solid fa-circle-xmark fa-lg"></i>
                        }
                    </td>
                    <td class="text-center">
                        <a href="/admin/products/@product.ProductId" class="btn btn-primary btn-sm me-2">Edit</a>

                        <form action="/admin/deleteproduct" method="POST" style="display: inline;">
                            <input type="hidden" name="productId" value="@product.ProductId">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        }else{
            @await Html.PartialAsync("_noproduct")
        }
    </tbody>
</table>


@section Links
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}